# SESI 1

## Type Data
1. Integer = berbentuk angka
2. FLoat = berbentuk bilangan desimal
3. Strings = berbentuk huruf
4. Boolean = berbentuk True and False

## Variabel

## Operators and Expressions

### Arithmetic operator

In [1]:
# Arithmetic operators

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

### Comparisson operators

In [2]:
# Comparisson Operators

a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

## String Manipulation

In [3]:
# + Operators

s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'Inalum')

foobar
foobarbaz
Hacktiv8 Inalum

In [4]:
# * Operators


s = 'foo.'
print(s * 4)

foo.foo.foo.foo.

In [5]:
# in Operators

s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [6]:
# Case Conversion
s = 'HackTIV8 iNAlum'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8 inalum
hacktiv8 inalum
hACKtiv8 InaLUM
Hacktiv8 Inalum
HACKTIV8 INALUM

## List
a = [...,...]
menggunakan kurung siku

### List are ordered
yaitu list yang memiliki elemen yang sama tetapi memiliki urutan yang berbeda

In [7]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

print(a == b)

False

### List can containt arbitrary objects
yaitu lsit yang dapa berisi bermacam-macam object

In [8]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index
yaitu elemen-elemen individual dalam list dapat diakses menggunakan indeks dalam tanda kurung siku

In [2]:
buah = ["jeruk", "apel", "mangga", "duren"]

print(buah[1])
print(buah[3])

apel
duren

In [3]:
print(buah[-1])
print(buah[-4])

duren
jeruk

slicing juga bisa digunakan dengan print(a[m:n])

In [5]:
buah = ["jeruk", "apel", "mangga", "duren"]

print(buah[1:3])

['apel', 'mangga']

In [7]:
# len(), min(), max()

print(buah)
print(len(buah))
print(min(buah))
print(max(buah))

['jeruk', 'apel', 'mangga', 'duren']
4
apel
mangga

### Modifying a single list value
yaitu satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana

In [8]:
buah = ["jeruk", "apel", "mangga", "duren","semangka","pepaya","kelapa"]

print(buah)

buah[2] = 10
buah[-1] = 20

print(buah)

['jeruk', 'apel', 'mangga', 'duren', 'semangka', 'pepaya', 'kelapa']
['jeruk', 'apel', 10, 'duren', 'semangka', 'pepaya', 20]

In [12]:
# Item dalam list dapat dihapus dengan perintah del:

buah = ["jeruk", "apel", "mangga", "duren","semangka","pepaya","kelapa"]

print(buah)

del buah[3]

print(buah)

['jeruk', 'apel', 'mangga', 'duren', 'semangka', 'pepaya', 'kelapa']
['jeruk', 'apel', 'mangga', 'semangka', 'pepaya', 'kelapa']

### Modifying multiple list values
yaitu merubah beberapa element dalam list sekaligus

In [13]:
buah = ["jeruk", "apel", "mangga", "duren","semangka","pepaya","kelapa"]

buah[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(buah)

['jeruk', 1.1, 2.2, 3.3, 4.4, 5.5, 'semangka', 'pepaya', 'kelapa']

## Tuples
a = (... , .....) mmenggunakan kurung biasa

In [15]:
buah = ("jeruk", "apel", "mangga", "duren","semangka","pepaya","kelapa")

print(buah)

('jeruk', 'apel', 'mangga', 'duren', 'semangka', 'pepaya', 'kelapa')

mengambil elemen dalam list

In [16]:
buah = ("jeruk", "apel", "mangga", "duren","semangka","pepaya","kelapa")

print(buah[1])
print(buah[-3])

apel
semangka

## Dictionary
a = { .... , ....} menggunakan kurung kurawal

### Defining a dictionary
Dictionaries adalah implementasi python dari struktur data yang lebih dikenal assosiative array.
Dictionaries terdiri dari key-value pairs. Setiap key-value pairs memetakan key ke value yang terkait.

### Accessing dictionary values

In [24]:
peter_parker = {
    "nama": "Peter Parker",
    "umur": 22,
    "hobi": ["coding", "membaca", "cocok tanam"],
    "menikah": False,
    "alamat": "tanjung pati"
}

peter_parker

{'nama': 'Peter Parker',
 'umur': 22,
 'hobi': ['coding', 'membaca', 'cocok tanam'],
 'menikah': False,
 'alamat': 'tanjung pati'}

In [28]:
# mengakses elemen dalam dictionary menggunakan key

print(peter_parker['umur'])
print(peter_parker['alamat'])

22
tanjung pati

In [29]:
# menambah entry baru

peter_parker['pekerjaann'] = 'dokter'
peter_parker

{'nama': 'Peter Parker',
 'umur': 22,
 'hobi': ['coding', 'membaca', 'cocok tanam'],
 'menikah': False,
 'alamat': 'tanjung pati',
 'pekerjaann': 'dokter'}

In [34]:
# mengupdate value baru dengan menggunakan key yang sudah ada

peter_parker['alamat'] = 'padang'
peter_parker

{'nama': 'Peter Parker',
 'umur': 22,
 'hobi': ['coding', 'membaca', 'cocok tanam'],
 'menikah': False,
 'alamat': 'padang',
 'pekerjaann': 'dokter'}

In [35]:
# menghapus entry menggunakan key

del peter_parker['umur']
peter_parker

{'nama': 'Peter Parker',
 'hobi': ['coding', 'membaca', 'cocok tanam'],
 'menikah': False,
 'alamat': 'padang',
 'pekerjaann': 'dokter'}

### Buliding a dictionary incrementally
Membuat dictionary sambil jalan, bisa dimulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong. Kemudian menambahkan kunci dan nilai satu per satu.

In [37]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'Inalum',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [38]:
print(person['fname'])
print(person['lname'])

Hack
Inalum

In [39]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [40]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [41]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [42]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [43]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True